/* 
=======================================================
START: GLOBAL
=======================================================
*/

:root{

    --w-background: white;
    --w-padding: 1rem 1rem;
  
    --border-sharp : 0px;
    --border-soft : 5px;
    --border : 8px;

    --padding-input: 1.3rem .8rem;

    --input-background: #f1f3f4;
    
    --shadow :  0px 5px 5px #a9c4ce52;
    --shadow-hard: 0px 10px 79px 20px rgba(179, 182, 185, 0.356);
    --shadow-soft : 10px 0px 50px -30px #4264889c;
    --shadow-btn: 5px 5px 20px -11px #56628f2c;
  
    --light-blue: #eef6fe5e;
    /* --light-blue: #fbfbfb; */
    --text-color: #4f5971;
    --text-color-light: #cacace;
    --text-color-error: #ff4e4e;
    --dark-text: #1f1f59;
    --light-silver: #ebecee;
  
    /* --main-color : #4918cf; */
    --main-color : #121180; 
    --secondary-color: #8c4bff;
    --tertiary-color: linear-gradient(222deg, rgb(114, 111, 255) 0%, rgb(73, 69, 255) 100%);
    --alt-color: #15d2e4;
    --error-color: #ff000014;

    --custom-color-1: rgb(19, 19, 19);;

    --modal-bk-color: #142149bf;
  
    --container-width: 90%;

    --animation-second: .2s;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }



body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container{
    width: 80%;
    max-width: 1358px;
    margin: auto;
}

.container-full{
    width: 100%;
    max-width: 1658px;
    margin: auto;
}

img{
    width: 100%;
}

.social{
    display: flex;
    column-gap: 2rem;
}

.social i{
    color: var(--secondary-color);
    font-size: 2.3rem;
}

.hide{
    display: none;
}

.main-shadow{
    box-shadow: var(--shadow);
}

/* background */

.bk-transparent {
  background: transparent;
}

.bk-white {
    background: white;
}

.bk-white h1,
.bk-white h2,
.bk-white h3,
.bk-white h4,
.bk-white h5,
.bk-white p,
.bk-white ul li{
    color: var(--main-color) !important;
}

.bk-white menu div{
    background: var(--main-color) !important;
}

.bk-main menu div{
   background: white !important;
}

.bk-transparent h1,
.bk-transparent h2,
.bk-transparent h3,
.bk-transparent h4,
.bk-transparent h5,
.bk-transparent p,
.bk-transparent ul li{
    color: white;
}

.bk-main{
    background: linear-gradient(132deg, rgb(9, 8, 34) 0%, rgb(6, 5, 98) 100%)
}

.bk-main h1,
.bk-main h2,
.bk-main h3,
.bk-main h4,
.bk-main h5,
.bk-main p,
.bk-main label,
.bk-main ul li{
    color: white;
}

.bk-dark{
    background: rgb(19, 19, 19);
}

.bk-dark h1,
.bk-dark h2,
.bk-dark h3,
.bk-dark h4,
.bk-dark h5,
.bk-dark p,
.bk-dark span,
.bk-dark label,
.bk-dark ul li{
    color: white;
}

.bk-light{
    background-color: var(--light-blue);
}


.bk-light menu div{
    background: var(--dark-text) !important;
}
/* padding */
.av-padding-none{
    padding: 0rem ;
}

.av-padding-mini{
    padding: 1rem 0rem;
}
.av-padding-small{
    padding: 3rem 0rem;
}
.av-padding-1x{
    padding: 4rem 0rem;
}
.av-padding-2x{
    padding: 6rem 0rem;
}
.av-padding-3x{
    padding: 10rem 0rem;
}

.av-padding-4x{
    padding: 13rem 0rem;
}

.av-padding-top-small{
    padding-top: 3rem;
}
.av-padding-top-1x{
    padding-top: 3rem;
}
.av-padding-top-2x{
    padding-top: 6rem;
}

.av-padding-top-3x{
    padding-top: 12rem;
}

.av-padding-bottom-small{
    padding-bottom: 3rem;
}
.av-padding-bottom-1x{
    padding-bottom: 3rem;
}
.av-padding-bottom-2x{
    padding-bottom: 6rem;
}

.av-padding-bottom-3x{
    padding-bottom: 12rem;
}
.av-padding-flush-top{
    padding-top: 0rem !important;
}
.av-padding-flush-bottom{
    padding-bottom: 0rem !important;
}
.av-padding-around-1x
{
    padding: 2rem;
}


/* border */

.border-bottom{
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
}

.border-top{
    border-top: 1px solid rgba(255, 255, 255, 0.41);
}

.border{
    border: 1px solid var(--light-silver);
}

.main-shadow{
    box-shadow: var(--shadow);
}

.error-msg{
    color: rgb(235, 54, 54) !important;
    font-size: .8rem;
    padding: .6rem 0rem;
}
/* 
=======================================================
END: GLOBAL
=======================================================
*/

.success-message{
    color: green;
}
